.weather {
    width: 600px;
    color: rgb(255, 255, 255);
    margin: 40px auto 0 auto;
    padding: 0 20px 20px 20px;
    background: #123c00bc;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(40px);
}

.top,
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.city {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.weather-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    margin: 5px 0 0 0;
}

.weather-icon {
    width: 100px;
}

.temperature {
    font-weight: 600;
    font-size: 70px;
    width: auto;
    letter-spacing: -5px;
    margin: 10px 0px;
}

.details {
    width: 100px;
    padding-left: 20px;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
}

.parameter-label {
    text-align: left;
    font-weight: 400;
    font-size: 12px;
}

.parameter-value {
    text-align: right;
    font-weight: 600;
    font-size: 12px;
}